:root {
  --primary-color-bg: #e5e5e5;
  --primary-color-bg-secundary: #bbbbbb;
  --primary-color: #3498db;
  --primary-color-text: #f7f7f7;
  --secundary-color-text: #adadad;
  --details-color-primary: #3498db;
  --details-color-secundary: #59a7db;
}
