@import url(./colors.css);
@import url(./fonts.css);
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
button,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

/* Variáveis CSS */

.event-html {
  margin-top: 10%;
  /* background-color: var(--details-color-secundary); */
}

.body-data {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 20px;
  margin: 0 auto;
}

.page-data {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  margin-top: 50px; /* Ajustado para uma margem menor */
  font-size: 18px;
  background-color: rgb(19, 19, 19);
  color: var(--primary-color-text);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.page-data h1 {
  color: var(--details-color-primary);
}

.event-title {
  text-align: center;
  color: var(--primary-color-text);
  margin-bottom: 20px;
}

.details-grid {
  display: grid;
  grid-template-columns: auto 1fr; /* Duas colunas: uma para rótulos, outra para valores */
  gap: 10px 20px; /* Espaçamento entre linhas e colunas */
  align-items: center;
}

.infos {
  color: var(--infos);
}

.infos a {
  color: var(--infos);
  text-decoration: none;
}
